* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-footer-bg-color: #4E4E4E;
    --light-bg-color: #F1F1F1;
    --dark-bg-color: #405D78;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --heading-color: #152D41;
    --dot-bg-color: #E07A64;
    --bold-text: 700;
    --light-text: 400;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 2rem;
}

.hero {
    background-color: var(--nav-footer-bg-color);
    height: 62px;
    width: 100%;
}

.hero__row {
    display: none;
}

.hero__navigation {
    padding-top: 2rem;
}

.hero__logo {
    color: var(--secondary-text-color);
    font-size: 1.8rem;
    /* margin-left: 2rem; */
}

.site-baner {
    height: calc(100vh - 62px);
    background-image: url("assets/dan-otis-OYFHT4X5isg-unsplash\ \(1\).jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}

.site__shadow {
    background: rgba(0, 0, 0, 0.15);
}

.site__btn {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 3.5rem;
    font-size: 18px;
    line-height: 1.5;
    border: 3px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    font-weight: var(--bold-text);
    /* margin: min(5vh, 3rem) 2rem; */
    /* margin-left: 2rem; */
    transition: all 1s ease;
}


.site__primaryTitle {
    font-size: 36px;
    padding-bottom: 1rem;
    /* margin-left: 2rem; */
    /* font-size: clamp(2rem, 50%, 4rem); */
    /* margin: min(5vh, 3rem) 2rem; */
}

.site__description {
    /* margin-left: 2rem; */
    padding-bottom: 2rem;
    font-size: 18px;
    /* margin: min(5vh, 1rem) 2rem; */
}

.site-workers {
    background-color: var(--light-bg-color);
}

.site__workersPhoto {
    display: block;
    flex: 1 1 1;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url("assets/julian-wan-WNoLnJo7tS8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: min(5vh, 3rem) 2rem; */
}

.site__workersPhoto--onRight {
    background-image: url("assets/david-dm-x7ws6vTXoOU-unsplash.jpg");
    /* margin: min(5vh, 3rem) 2rem; */
}

.site__title {
    font-size: 26px;
    /* margin-left: 2rem; */
    /* font-size: clamp(2rem, 50%, 4rem); */
    text-align: center;
}

.site__title--light {
    color: var(--secondary-text-color);
}


.workers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.site__workerCaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: min(5vh, 1rem) 2rem;
}

.site__workerCaption p {
    width: clamp(45ch, 95%, 75ch);
    /* margin: min(5vh, 1rem) 0; */
    text-align: justify;


}

.site__workerName {
    text-align: left;

}

/* .site__workerCaption--onRight p {
    padding-bottom: 2rem;
} */
.second-worker {
    padding-bottom: 2.5rem;

}

.site-services {
    padding: min(5vh, 1rem) 2rem;
    background-color: var(--dark-bg-color);
}

.site__boxes {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    justify-content: center;
    align-items: center;
    /* position: relative; */
    margin: auto;
}

.site__box {
    display: flex;
    text-align: center;
    min-height: 15rem;
    min-width: 15rem;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-text-color);
    font-size: 18px;
    color: var(--primary-text-color);
    margin: 2rem;
    padding: 3rem 0;
    transition: all 0.5s ease-in-out;
    position: relative;
     
}

.child {
    width: 2rem;
    height: 2rem;
    background-color: var(--dot-bg-color);
    border-radius: 50%;
    position: absolute;
    top: -11px;
    left: -11px;
}

.site__box:first-of-type {
    flex-direction: column;
}

footer {
    background-color: var(--nav-footer-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    flex-wrap: wrap;
    /* margin-left: 2rem; */
}

.footer__wrapper h4 {
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
}

.footer__icons {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    flex: 1 1 1rem;
}


.footer__icon {
    fill: var(--secondary-text-color);
    width: 3.1rem;
    margin-left: 2rem;
}

@media screen and (min-width:763px) {

    .workers {
        display: flex;
        justify-content: space-around;
    }

    .site__workerCaption {
        display: flex;
        flex: 1 1 40rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        margin: min(5vh, 1rem) 2rem;
    }

    .site__workerCaption--onRight {
        order: -2;
        align-items: flex-end;
        justify-content: center;
        text-align: right;
    }

    .site__workerCaption p {
        width: clamp(45ch, 50%, 75ch);
    }

    .site__workerName {
        margin: min(5vh, 1rem) 0;
    }

    .site__title {
        /* padding: min(5vh, 3rem) 2rem; */
        padding: 2rem 0;
        font-size: 36px;
        /* font-size: clamp(2rem, 50%, 4rem); */
        text-align: left;

    }
    .site__box:hover {
        transform: scale(1.05);
    }

    .site__btn:hover {
        background: var(--secondary-text-color);
        color: var(--primary-text-color);

    }

}

@media screen and (min-width: 1024px) {
    .hero__navigation {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        padding-top: 2rem;
    }

    .hero__row {
        display: flex;
        /* margin-left: 20px; */
        flex: auto;
        justify-content: flex-end;
        list-style-type: none;
        align-items: center;
    }

    .hero__link {
        margin-left: 50px;
    }

    .hero__link a {
        color: var(--light-bg-color);
        text-decoration: none;
        font-weight: var(--light-text);
        font-size: 1.8rem;
    }

    .hero__link:last-child a {
        cursor: not-allowed;
    }

    .site__boxes {
        display: flex;
        min-height: 50vh;
        align-items: center;
        justify-content: center;
        /* flex-wrap: wrap; */
        padding: min(5vh, 1rem) 2rem;
        /* margin: auto; */
        width: calc(240px * 3 + 10px * 2);
        flex-direction: row;
    }



    .footer__wrapper {
        /* margin: min(5vh, 1rem) 2rem; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.8rem;
        width: 100%;
    }

    .footer__icons {
        justify-content: flex-end;
        display: flex;
        padding-top: 1rem;
        flex: 1 1 1rem;

    }
}